<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Add a page</h1>
<div>
    <form action="{% url 'add_page' category.slug%}" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            <div>
                {{ hidden }}
            </div>
        {% endfor %}
        {% for field in form.visible_fields %}
            <div>
                {{ field.help_text }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="add a page">
    </form>
</div>
</body>
</html>